.form-container {
  width: 50%;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .form-container {
    width: 90%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 972px) {
  .form-container {
    width: 80%;
  }
}
.small-text {
  font-size: 12px;
}
.text-link {
  color: rgba(2, 117, 216, 1);
}
.text-link:hover {
  color: rgba(2, 117, 216, 0.8);
}
